# Copyright (c) 2019 Peter Bigot Consulting, LLC
# SPDX-License-Identifier: Apache-2.0

mainmenu "Ad5940 zdephyr porting"

config SQR_WAVE_VOLTAMMETRY
	bool "SqrWaveVoltammery sample"
	default y
	help
	    SqrWaveVoltammery sample https://github.com/analogdevicesinc/ad5940-examples/tree/master/examples/AD5940_SqrWaveVoltammetry

config CHRONO_AMPEROMETRIC
    bool "ChronoAmperometric sample"
    default n
    help
        ChronoAmperometric sample https://github.com/analogdevicesinc/ad5940-examples/tree/master/examples/AD5940_ChronoAmperometric

source "Kconfig.zephyr"